/*  SECTIONS  */
.row {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% .5%;
}
.col:first-child { margin-left: 0; }

/*  row-groupING  */
.row-group:before,
.row-group:after { content:""; display:table; }
.row-group:after { clear:both;}
.row-group { zoom:1; /* For IE 6/7 */ }


/*  GRID OF TEN  */
.col-10 {
    width: 100%;
}

.col-9 {
    width: 89.95%;
}

.col-8 {
    width: 79.9%;
}

.col-7 {
    width: 69.85%;
}

.col-6 {
    width: 59.8%;
}

.col-5 {
    width: 49.75%;
}

.col-4 {
    width: 39.7%;
}

.col-3 {
    width: 29.65%;
}

.col-2 {
    width: 19.6%;
}

.col-1 {
    width: 9.55%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col {  margin: 1% 0 1% 0%; }

    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10 {
        width: 100%;
    }
}